.vscode/**
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

.idea/**

node_modules/

dist/
out/
*.vsix

.DS_Store
Thumbs.db

!package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock

npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
