.vscode/**
.vscode-test/**
**/.vscode-test.*

node_modules/**
src/**
dest/**

.gitignore
.yarnrc

webpack.config.ts

**/tsconfig.json
**/tsconfig.*.json
**/prettier.config.mjs
**/eslint.config.mjs

**/*.map
**/*.ts
